* {
    background-color: rgb(34, 34, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(209, 209, 209);
}

h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    border: 2px solid rgb(209, 209, 209);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

li:not(:last-child) {
    margin-bottom: 5px;
}
